main{
    padding: 20px 0;
}

.form-control{
    margin: 0 auto;
    text-align: center;
    max-width: 300px;
}

label{
    font-size: 18px;    
}

input{
    max-width: 150px;
    outline:none;
    border: none;
}

button{
    margin: 0 auto;
    margin-top: 10px;
    background: rgb(238, 218, 218);
    color:black;
    border: none;
    padding: 10px;
    border-radius: 10px;
    max-width: 100px;
    display: block;
}

button:hover{
    color:white;
    background-color: rgb(69, 68, 68);   
    cursor: pointer;
}