<%- include('includes/head.ejs') %>

<%- include('includes/navbar.ejs') %>

    <main>
        <div class="container">
            <h1>404 PAGE NOT FOUND</h1>
        </div>
    </main>
<%- include('includes/end.ejs') %>