<%- include('includes/head.ejs') %>
<%- include('includes/navbar.ejs') %>

<main>
    <% if(users.length > 0){ %>
        <% for(let user of users){%>
    <div class="container">
        <h1><%= user %></h1>
    </div>
    <% }%>
    <%} else {%>
        <h1>No Users Found</h1>
    <%}%>
</main>

<%- include('includes/end.ejs') %>