.my:link{
    color: green;
    text-decoration: none;
    background-color: transparent;
}

.my:hover{
    color:pink;
    text-decoration: none;
    background-color: transparent;
}

.my:visited{
    color:gray;
    text-decoration: none;
    background-color: transparent;
}

.video{
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
    align-items: center;
}
